:local(.wrapper) {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

:local(.centered) {
    background: #ffffff;
    padding: 30px 15px;
    box-shadow: 0px 3px 3px 0px rgba(222, 222, 222, 0.75);
    min-width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}