:local(.nav-wrapper) {
	display: flex;
	margin-bottom: 16px;
}

:local(.nav-item) {
	/* button reset */
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	text-decoration: none;
  
	background: transparent;
  
	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;
  
	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;
  
	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
  
	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
	cursor: pointer;
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	transition: all 200ms;
	display: block;
	width: 100%;
	border-bottom: 2px solid transparent;
	padding: 10px 0;
	color: #2b2b2b;
}

:local(.nav-item:active), :local(.nav-item:focus) {
	outline: none;
}

:local(.nav-item.selected) {
	border-bottom-color: #2268FF;
}