:local(.wrapper) {
  background: #3CB3D4;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  box-shadow: 0 4px 11px #b9ccc0;
}

